---
import { ui } from "../../i18n/ui";
import { getLangFromUrl } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url)

const carrers = ui[lang].sections.education.carrers
const courses = ui[lang].sections.education.courses
---
<div class="w-full">
    <h2 class="capitalize">
        {ui[lang].sections.education.title}
    </h2>
    <ul class="flex gap-10">
        {
            carrers.map((carrer) => {
                return (
                    <div class="flex flex-col">
                        <span class="font-bold capitalize">
                            {carrer.name}
                        </span>
                        <span class="text-sm">
                            {carrer.university}, {carrer.location}
                        </span>
                        <span class="text-xs">
                            {carrer.startDate} - {carrer.finishDate} |
                            <span>
                                {carrer.duration.number} {carrer.duration.years}
                            </span>
                        </span>
                    </div>
                )
            })
        }
        {
            courses.map((course) => {
                return (
                    <div class="flex flex-col">
                        <span class="font-bold capitalize">
                            {course.name}
                        </span>
                        <span class="text-sm">
                            {course.university}, {course.location}
                        </span>
                        <span class="text-xs">
                            
                            {course.startDate} - {course.finishDate} |
                            <span>
                                {course.duration.number} {course.duration.years}
                            </span>
                        </span>
                    </div>
                )
            })
        }
    </ul>
</div>