---
import { tldr } from "../../content/content";
import SwitchButton from "../ThemeButton.astro";
const data = tldr
const language = 'english'
---
<header class="flex justify-between items-center text-fallout">
    <h1>
        {data.name} | {data[language].labor}
    </h1>
    <div class="flex gap-4">
        <div class="flex">
            <span>{data[language].switch.theme.dark}</span>
            <SwitchButton/>
            <span>{data[language].switch.theme.light}</span>            
        </div>
        <div class="flex">
            <span>{data[language].switch.language.english}</span>
            <SwitchButton/>
            <span>{data[language].switch.language.spanish}</span>            
        </div>
    </div>
</header>