---
import { tldr } from "../content/content";
const data = tldr
const language = 'english'
---
<header class="flex justify-between items-center">
    <h1>
        {data.name} | {data[language].labor}
    </h1>
    <div class="flex gap-4">
        <div>
            <span>{data[language].switch.theme.dark}</span>
            <button></button>
            <span>{data[language].switch.theme.light}</span>            
        </div>
        <div>
            <span>{data[language].switch.language.english}</span>
            <button></button>
            <span>{data[language].switch.language.spanish}</span>            
        </div>
    </div>
</header>